<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="reset.css">

    <style>
        .img-ul{
            width: 190px;
            height: 300px;
        }

        .img-ul li:not(:last-child){
            margin-bottom: 10px;
        }

        .img-ul li a img{
            width: 100px;
        }

    </style>

</head>
<body>

    <ul class="img-ul">
        <li>
            <a href="#">
                <img src="/img/pic.png" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/img/pic-1.png" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/img/pic-2.png" alt="">
            </a>
        </li>
    </ul>
      
</body>
</html>